<div class="container">
  <h1>{{ title }}</h1>

  <div class="category-menu">
    @for (cat of appCategories; track cat.id) {
      <button 
        (click)="selectCategory(cat.id)" 
        [class.active]="selectedCategoryId() === cat.id">
        {{ cat.name }}
      </button>
    }
  </div>

  <hr>

  @if (selectedCategoryId()) {
    <app-product-list [categoryId]="selectedCategoryId()!"></app-product-list>
  } @else {
    <p class="hint">Please select a category to view products.</p>
  }
</div>